.DS_Store
node_modules/
singal/node_modules/
singal/dist/
multiple/node_modules/
multiple/dist/
webpack-simple/node_modules/
webpack-optimizion/node_modules/
webpack-bundle/node_modules/

library/node_modules/
library/dist/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*/node_modules/
